
body {
    background-color: #f4e1d2;
}

h1 {    
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-left: 270px;
}


fieldset {
       
    width:720px;
    padding: 10px;
    padding-bottom: 30px;
    //border: 1px solid #888;
    //border-right: 1px solid #666;
    //border-bottom: 1px solid #666;
    background: linear-gradient(to top left, #8d9db6, #bccad6);  
    border-style: double;
    
}

#userFieldset {
    height: 60px;
}

legend {
    text-align:center;    
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #888;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: .5em;    
    background: linear-gradient(to top left, #8d9db6, #CCC);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

#userMenu {
    font-size: 15px;
    background-color: white;   
    font-weight: bold;
}

#pointsDiv {
    float: right;
    padding-right: 40px;    
    font-size: 24px;
    font-weight: bold;
    color: #cc0000;
    text-shadow: 2px 2px 4px #FFFFFF;
}

#editUserLink {    
   margin-left: 275px;
}

#deleteUserLink {    
   margin-left: 40px;
}


th, td {
    width: 150px;
    padding: 0 5px;   
    text-align:left; 
    word-wrap: break-word;    
       
}

#scroll {
    overflow: auto;
    height: 150px;
}

.pointsColumn {
    text-align:right;
    width: 60px;
}

.gapColumn {
    width: 80px;
}

.descriptionColumn {
    width: 190px;
    max-width: 190px;
}


.selectedRow {    
    background-color: #e8e8e8;
}

.actionButtons {
   
    width: 175px;
    padding: 15px 32px;
    font-size: 16px;    
    background-color: #8d9db6;
    color: black;   
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.actionButtons:hover {    
    background-color: #862d59;
    color: white;   
}

#addUserButton {
    background-color: #f1e3dd;
}

#addUserButton:hover {
    background-color:  #667292;
}


.buttonContainer {
   padding: 15px;       
}


dialog {  
      
    margin: auto;
    background:#e8e8e8;
    border: 1px solid #dadada; 
    padding: 5px 20px 20px 20px;  //top, right, bottom, left
        
} 

.dialogText {
    text-align: center; 
    font-weight: bold;
}

.noBoldDialogText {
    font-weight:normal;
}

.dialogButton {
    margin: 10px 10px 10px 10px;
    background-color: #b3b3cc;    
}

input {
    margin: 5px 10px 5px 10px;    
    display:inline-block;      
    
}

.dialogLabel {
    
    font-size: 15px;   
    display:inline-block;    
    
}

.buttonDiv {    
    text-align: center;    
}









